# Backtesting Value-at-Risk

In [6]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import datetime as dt
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

In [8]:
filename='DataLab2.csv'
table = pd.read_csv(filename)
table.head()
table['Date'] = pd.to_datetime(table['Date'])
table = table.set_index('Date')
start = dt.datetime(2005, 1, 1)
end = dt.datetime(2008,12,31)
our_sample = table[start:end]
# Create losses
our_sample['losses'] = our_sample['PL']*-1
print(our_sample)
our_sample2007 = our_sample[dt.datetime(2007,1,1):dt.datetime(2007,12,31)]
our_sample2008 = our_sample[dt.datetime(2008,1,1):dt.datetime(2008,12,31)]

              PL  VaRBHS      VaREWMA         VaRn         VaRt       VaRPot  \
Date
2005-01-01   190     NaN          NaN          NaN          NaN          NaN
2005-01-02   190     NaN          NaN          NaN          NaN          NaN
2005-01-03  -220     NaN          NaN          NaN          NaN          NaN
2005-01-05   120     NaN          NaN          NaN          NaN          NaN
2005-01-06   450     NaN          NaN          NaN          NaN          NaN
...          ...     ...          ...          ...          ...          ...
2008-12-25   500  3835.0  5685.328442  3099.600997  3894.837749  5533.676874
2008-12-26   300  3835.0  5651.307303  3099.176876  3885.509964  5533.676874
2008-12-28  -680  3835.0  5493.420633  3098.836653  3882.021708  5533.676874
2008-12-29 -1690  3835.0  5330.700046  3101.208561  3869.046817  5533.676874
2008-12-31   670  3835.0  5206.385930  3109.150064  3864.243575  5533.676874

                 ESEWMA          ESn          ESt        ESPot  losses
Date
2005-01-01          NaN          NaN          NaN          NaN    -190
2005-01-02          NaN          NaN          NaN          NaN    -190
2005-01-03          NaN          NaN          NaN          NaN     220
2005-01-05          NaN          NaN          NaN          NaN    -120
2005-01-06          NaN          NaN          NaN          NaN    -450
...                 ...          ...          ...          ...     ...
2008-12-25  8983.182389  3544.596054  17316.95094  8245.104866    -500
2008-12-26  8935.710619  3544.247078  17051.92964  8245.104866    -300
2008-12-28  8740.921644  3543.935956  16969.91968  8245.104866     680
2008-12-29  8503.251624  3546.396997  16439.32808  8245.104866    1690
2008-12-31  8296.806927  3555.034995  15927.46627  8245.104866    -670

[1008 rows x 11 columns]

In [16]:
our_sample2007

,PL,VaRBHS,VaREWMA,VaRn,VaRt,VaRPot,violations_bhs,ESEWMA,ESn,ESt,ESPot,losses
Date,,,,,,,,,,,,
2007-01-01,30,1115.0,1053.756229,777.645897,990.797723,1391.726372,0,2431.278879,897.263546,3270.873551,1924.333523,-30
2007-01-03,200,1115.0,1021.701152,777.393080,993.867845,1391.726372,0,2391.877505,896.851545,3349.147061,1924.333523,-200
2007-01-04,-110,1115.0,990.624063,777.083717,994.978159,1391.726372,0,2355.183490,896.435939,3393.172268,1924.333523,110
2007-01-06,50,1115.0,966.503238,777.332311,993.984109,1391.726372,0,2326.891025,896.700352,3367.117193,1924.333523,-50
2007-01-07,160,1115.0,943.122243,775.856105,996.059063,1391.726372,0,2300.318478,895.111080,3449.972173,1924.333523,-160
...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-25,-550,2720.0,5446.739118,1850.330910,1872.782072,3923.705072,0,8667.750829,2105.484299,16767.872160,4965.546229,550
2007-12-27,-790,2720.0,5281.329790,1851.518976,1880.739916,3923.705072,0,8417.587184,2106.755112,16837.430180,4965.546229,790
2007-12-28,3710,2720.0,5140.982010,1854.690014,1898.367178,3923.705072,0,8194.339146,2110.102556,16978.790680,4965.546229,-3710
2007-12-30,840,2720.0,5025.876542,1891.472008,1899.165832,3923.705072,0,7982.628781,2153.331951,16991.322100,4965.546229,-840
2007-12-31,650,2720.0,5636.548968,1892.561404,1911.666403,3923.705072,0,8916.984522,2154.760658,17099.514020,4965.546229,-650

In [17]:
violations_bhs2007 = our_sample2007['losses']>our_sample2007['VaRBHS']

In [18]:
our_sample2007.insert(6,"violations_bhs2007",violations_bhs.astype(int))
print(our_sample2007)

              PL  VaRBHS      VaREWMA         VaRn         VaRt       VaRPot  \
Date
2007-01-01    30  1115.0  1053.756229   777.645897   990.797723  1391.726372
2007-01-03   200  1115.0  1021.701152   777.393080   993.867845  1391.726372
2007-01-04  -110  1115.0   990.624063   777.083717   994.978159  1391.726372
2007-01-06    50  1115.0   966.503238   777.332311   993.984109  1391.726372
2007-01-07   160  1115.0   943.122243   775.856105   996.059063  1391.726372
...          ...     ...          ...          ...          ...          ...
2007-12-25  -550  2720.0  5446.739118  1850.330910  1872.782072  3923.705072
2007-12-27  -790  2720.0  5281.329790  1851.518976  1880.739916  3923.705072
2007-12-28  3710  2720.0  5140.982010  1854.690014  1898.367178  3923.705072
2007-12-30   840  2720.0  5025.876542  1891.472008  1899.165832  3923.705072
2007-12-31   650  2720.0  5636.548968  1892.561404  1911.666403  3923.705072

            violations_bhs2007  violations_bhs       ESEWMA          ESn  \
Date
2007-01-01                   0               0  2431.278879   897.263546
2007-01-03                   0               0  2391.877505   896.851545
2007-01-04                   0               0  2355.183490   896.435939
2007-01-06                   0               0  2326.891025   896.700352
2007-01-07                   0               0  2300.318478   895.111080
...                        ...             ...          ...          ...
2007-12-25                   0               0  8667.750829  2105.484299
2007-12-27                   0               0  8417.587184  2106.755112
2007-12-28                   0               0  8194.339146  2110.102556
2007-12-30                   0               0  7982.628781  2153.331951
2007-12-31                   0               0  8916.984522  2154.760658

                     ESt        ESPot  losses
Date
2007-01-01   3270.873551  1924.333523     -30
2007-01-03   3349.147061  1924.333523    -200
2007-01-04   3393.172268  1924.333523     110
2007-01-06   3367.117193  1924.333523     -50
2007-01-07   3449.972173  1924.333523    -160
...                  ...          ...     ...
2007-12-25  16767.872160  4965.546229     550
2007-12-27  16837.430180  4965.546229     790
2007-12-28  16978.790680  4965.546229   -3710
2007-12-30  16991.322100  4965.546229    -840
2007-12-31  17099.514020  4965.546229    -650

[252 rows x 13 columns]

In [19]:
n_violations = sum(our_sample2007['violations_bhs2007'])
n_expectd = 0.01*len(our_sample2007)
print("Number of VaR exceptions: {}. Expected number is {:.2f}.".format(n_violations,n_expectd))

Number of VaR exceptions: 15. Expected number is 2.52.

In [20]:
pValBHSKupiec = 1-stats.binom.cdf(n_violations-1,252,0.01)

In [21]:
print("P-value for rejecting that the model produces the correct number of violations vs alternative of underestimating VaR is {:.4f} ".format(pValBHSKupiec))

P-value for rejecting that the model produces the correct number of violations vs alternative of underestimating VaR is 0.0000